header{
    padding: 40px 0 40px 8%;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    @media only screen and (max-width:979px) {
        width: 90%;
        padding: 40px 10px 40px 20px;
    }
    @media only screen and (min-width : 980px) and (max-width : 1160px){
        width: 70%;
    }
}
nav{
    display: flex;
    align-items: center;
    margin: 0 auto;
    @media only screen and (max-width:979px) {
        margin: 30px auto;
    }
    @media only screen and (min-width : 980px) and (max-width : 1160px){
    }
}
ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media only screen and (max-width:979px) {
    justify-content: space-evenly;
    width: 87%;
    margin: auto;
    }
    @media only screen and (min-width : 980px) and (max-width : 1160px){
        
    }
}
li{
    font-size: 14px;
    padding: 2px 5px;
    color: $couleur-primaire-fonce;
    list-style: none;
    border: solid 1px $couleur-secondaire-fonce;
    border-radius: 20px;
    margin: 3px 5px ;
    &:hover{
        color: white;
        background-color: $couleur-primaire-fonce;
        border: none;
    }
    &:focus{
        color: white;
        background-color: $couleur-primaire-fonce;
        border: none;
    }
}
.logo{
    height: 3em;
    @media only screen and (max-width:979px) {
        width: 50%;
        height: 2em;
    }
    @media only screen and (min-width : 980px) and (max-width : 1160px){
        height: 2em;
    }
}
img{
    height: 100%;
}